.cmp-settings-section {
  padding: var(--pal-size-m);
  width: 100%;
  max-width: 64rem;
  border-radius: var(--pal-radius-m);
  background-color: var(--pal-grayscale-900);

  > .content,
  > .deletion-mode {
    display: grid;
    grid-template-rows: 1fr;
    opacity: 1;
    transition:
      grid-template-rows 0.3s ease,
      opacity 0.3s ease;

    > .inner {
      display: flex;
      flex-direction: column;
      min-height: 0;
      overflow: hidden;
    }
  }

  > .content {
    > .inner {
      gap: var(--pal-size-m);
    }

    &.deletion-mode {
      grid-template-rows: 0fr;
      opacity: 0;
    }

    .items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: var(--pal-size-s) var(--pal-size-m);
      border-radius: var(--pal-radius-m);
      color: var(--pal-grayscale-300);
      background-color: var(--pal-gold-800);

      > p {
        font-size: var(--pal-fs-l);
        color: var(--pal-grayscale-100);
      }
    }
  }

  > .deletion-mode {
    grid-template-rows: 0fr;
    opacity: 0;

    &.active {
      grid-template-rows: 1fr;
      opacity: 1;
    }

    > .inner {
      gap: var(--pal-size-s);

      > form {
        display: flex;
        flex-direction: column;
        gap: var(--pal-size-s);

        > p {
          font-size: var(--pal-fs-m);
          color: var(--pal-grayscale-100);
        }
      }
    }
  }
}
