.cmp-campaign-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pal-size-s);
  border-width: 1px;
  border-style: solid;
  border-color: var(--pal-gold-500);
  padding: var(--pal-size-m);
  width: 100%;
  max-width: 40rem;
  background-color: var(--pal-grayscale-900);

  > .edit-button {
    position: absolute;
    top: 10%;
    align-self: flex-end;
    width: var(--pal-size-s);

    > .cmp-icon {
      font-size: var(--pal-size-m);
      color: var(--pal-gold-400);
    }
  }

  > h1 {
    color: var(--pal-gold-400);
  }

  > p {
    text-align: center;
    color: var(--pal-gold-200);
  }
}
