.cmp-active-campaigns {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-s);
  > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--pal-size-s);
    > p {
      font-weight: 600;
    }
  }
  > .campaigns {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    > .campaign {
      background-color: var(--pal-grayscale-800);
      padding: var(--pal-size-s);
    }
  }
}
