.cmp-game-master-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pal-size-m);
  padding: var(--pal-size-xl);

  > h1 {
    color: var(--pal-gold-400);
  }

  > p {
    font-size: var(--pal-size-m);
    text-align: center;
    color: var(--pal-gold-200);
  }

  > .dashboard-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--pal-size-s);
    padding: var(--pal-size-m);
    width: 100%;
    max-width: 40rem;

    > .actions-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--pal-size-s);
      > h1 {
        font-size: var(--pal-size-m);
        text-align: center;
        color: var(--pal-gold-400);
      }
    }
    > .actions-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      gap: var(--pal-size-s);
      width: 100%;

      > .action-button {
        --cmp-button-bg-color: var(--pal-grayscale-900);

        gap: var(--pal-size-s);
        padding: var(--pal-size-s);
        width: 100%;
        color: var(--pal-gold-100);

        cursor: pointer;
        transition: all 0.2s ease-in-out;

        > p {
          font-size: var(--pal-fs-xs);
        }

        &:hover {
          color: var(--pal-gold-400);
        }
      }
    }
  }

  > .dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--pal-size-m);
    width: 100%;
  }
}
