.cmp-players-list {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-s);
  border: 2px solid;
  border-color: var(--pal-gold-500);
  padding: var(--pal-size-m);
  background-color: var(--pal-grayscale-900);

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .cmp-input {
      width: 100%;
      max-width: 20rem;
    }
  }

  > .player-divider {
    height: 1px;
    background: var(--pal-gold-500);
  }

  > .players {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    > .player {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--pal-size-s);
      border-width: 1px;
      border-style: solid;
      border-color: var(--pal-gold-800);
      padding: var(--pal-size-m);
      width: 100%;

      background-color: var(--pal-grayscale-900);

      > .player-info {
        min-width: 0;

        > h2 {
          font-size: var(--pal-fs-l);
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--pal-gold-200);
          overflow: hidden;
        }
        > h3 {
          font-size: var(--pal-fs-m);
        }
      }
    }
  }
}
