.cmp-main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (width < 64rem) {
    margin-bottom: var(--pal-size-2xl);
  }
}
