.cmp-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  gap: var(--pal-size-s);

  > .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: var(--pal-size-xl);

    > .cmp-icon:hover {
      cursor: pointer;
      animation: rotate 0.5s linear normal;
    }
  }

  > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    > .info-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--pal-size-xl);
      width: 100%;

      background-color: color-mix(
        in srgb,
        80% var(--pal-grayscale-800),
        transparent
      );

      > h1 {
        font-size: var(--pal-fs-xl);
        color: var(--pal-gold-500);
      }

      > p {
        font-size: var(--pal-fs-l);
        color: var(--pal-grayscale-0);
      }
    }
    @media (width < 64rem) {
      flex-direction: column;
    }
  }

  @media (width > 120rem) {
    padding-inline: 25rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
