.cmp-add-players {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--pal-size-l);
  width: 100%;
  max-width: 40rem;
  background: var(--pal-paper-gradient);
  gap: var(--pal-size-m);

  > h1 {
    font-size: var(--pal-fs-2xl);
    font-family: var(--pal-font-display);
    font-weight: 700;
    color: var(--pal-grayscale-800);
  }

  > .add-players-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--pal-size-m);
    width: 100%;

    > .add-players {
      height: var(--pal-size-xl);
    }
  }
}
