.cmp-my-characters {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-s);

  > h1 {
    font-size: var(--pal-size-xl);
    font-weight: 600;
    color: var(--pal-gold-500);
  }

  > h2 {
    font-size: var(--pal-size-l);
    font-weight: 400;
    color: var(--pal-grayscale-100);

    

  }
}