.cmp-campaign-invitations {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-xs);
  border-width: 2px;
  border-style: solid;

  border-color: var(--pal-gold-500);
  padding: var(--pal-size-m);
  background-color: var(--pal-grayscale-900);

  > .header {
    display: flex;
    gap: var(--pal-size-s);
    > h1 {
      font-size: var(--pal-fs-xl);
      font-weight: var(--pal-font-weight-bold);
      color: var(--pal-gold-500);
    }
  }

  > p {
    font-size: var(--pal-fs-m);
    color: var(--pal-grayscale-200);
  }

  > .invitations-list {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    > .invitation {
      display: flex;
      justify-content: space-between;
      gap: var(--pal-size-xs);
      border-width: 1px;
      border-style: solid;
      border-color: var(--pal-gold-500);
      padding: var(--pal-size-m);
      width: 100%;
      border-radius: var(--pal-size-2xs);
      background-color: var(--pal-grayscale-800);

      > .invitation-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > h2 {
          font-size: var(--pal-fs-l);
          font-weight: 800;
          color: var(--pal-gold-500);
        }

        > p {
          font-size: var(--pal-fs-m);
          color: var(--pal-grayscale-200);
          > span {
            font-weight: var(--pal-font-weight-bold);
            color: var(--pal-gold-500);
          }
        }
      }

      > .invitation-actions {
        display: flex;
        gap: var(--pal-size-xs);

        > button {
          padding: var(--pal-size-xs) var(--pal-size-s);
          font-size: var(--pal-fs-s);
          font-weight: var(--pal-font-weight-bold);
          border-radius: var(--pal-size-xs);
          cursor: pointer;

          &.accept {
            color: var(--pal-grayscale-900);
            background-color: var(--pal-gold-500);

            > .cmp-icon {
              color: var(--pal-grayscale-900);
            }
          }

          &.decline {
            color: var(--pal-grayscale-900);
            background-color: var(--pal-red-500);
          }
        }
      }

      > p {
        font-size: var(--pal-fs-m);
        color: var(--pal-grayscale-200);
      }
    }
  }
}
