.cmp-dropdown {
  position-area: bottom;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  flex-direction: column;
  margin: var(--pal-size-m);
  padding: var(--pal-size-3xs);
  width: min(40rem, 100% - 2 * var(--pal-size-m));

  scale: 0.9;
  opacity: 0;
  transform-origin: top left;

  &:popover-open {
    display: flex;

    scale: initial;
    opacity: initial;

    @starting-style {
      scale: 0.9;
      opacity: 0;
    }
  }
}
