.cmp-dropdown {
  --gap: var(--pal-size-3xs);

  position-area: bottom;
  position-try-fallbacks: flip-block;

  flex-direction: column;
  margin: var(--pal-size-m);
  border-width: var(--line-thickness);
  border-color: var(--pal-color-a-100);
  padding: var(--gap);
  max-width: 40rem;
  width: 100%;

  border-radius: calc(var(--pal-size-xs) + var(--gap));
  box-shadow: var(--pal-shadow-1);
  scale: 0.9;
  opacity: 0;
  transform-origin: top left;



  &:popover-open {
    display: flex;

    scale: initial;
    opacity: initial;

    &.gallery {
      display: grid;
    }

    @starting-style {
      scale: 0.9;
      opacity: 0;
    }
  }


}
