.cmp-campaigns {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-m);
  padding: var(--pal-size-xl) var(--pal-size-xl) var(--pal-size-2xl);

  > .campaigns-header {
    display: flex;
    flex-direction: column;
    text-align: left;

    > .campaigns-title {
      font-size: var(--pal-fs-2xl);
      font-family: var(--pal-font-display);
      font-weight: 700;

      color: var(--pal-gold-400);
    }

    > .campaigns-subtitle {
      margin-top: var(--pal-size-xs);

      font-size: var(--pal-fs-lg);
      font-family: var(--pal-font-body);
      font-style: italic;

      color: var(--pal-grayscale-400);
    }
  }

  > .campaigns-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: var(--pal-size-l);

    > * {
      animation: campaign-pop-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) backwards;
    }
  }
}

@keyframes campaign-pop-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
