.cmp-campaign-add {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed var(--pal-gold-700);
  padding: var(--pal-size-xl) var(--pal-size-l);
  width: 100%;
  min-height: 25rem;
  text-align: center;
  background-color: var(--pal-grayscale-900);

  > .default,
  > .create,
  > .join {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: var(--pal-size-xl) var(--pal-size-l);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  > .default {
    > .add-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid var(--pal-gold-600);;
      width: 3.5rem;
      height: 3.5rem;
      font-size: var(--pal-fs-l);
      border-radius: var(--pal-radius-full, 50%);
      color: var(--pal-gold-500);
      background-color: var(--pal-gold-900);
    }

    > .header-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;

      > h1 {
        margin: 0;
        font-size: var(--pal-fs-xl);
        font-weight: 700;
        color: var(--pal-gold-500);
      }

      > .add-description {
        font-size: var(--pal-size-m);
        color: var(--pal-grayscale-400);
        margin: 0;
        max-width: 22rem;
      }
    }

    > .add-hint {
      margin: 0 0 var(--pal-size-l);
      max-width: 22rem;
      font-size: var(--pal-fs-sm);
      line-height: 1.5;
      font-style: italic;
      color: var(--pal-grayscale-500);
    }

    > .add-actions {
      display: grid;
      grid-template-columns: minmax(max-content, 100%);
      justify-content: center;
      gap: var(--pal-size-s);
      width: 70%;


    }
  }

  > .create,
  > .join {
    /* translateX(100%) para que entre desde la derecha en vez de la izquierda */
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
    }

    > .btn-back {
      position: absolute;
      top: 3px;
      right: 5px;
      background: transparent;
      border: none;
      color: var(--pal-gold-500);
      font-size: var(--pal-fs-xl, 1.5rem);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--pal-size-xs);
      transition: filter 0.2s ease-in-out;
      z-index: 10;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
